// Content wrapper
.wrap { }

// Main content area
.main {

}
body{
      color: @gray;

}
#site {
      max-width: 1100px;
      margin: 0 auto;
      padding-top: 150px;
}

.home > #site {
      padding-top: 20px;
}

body  main,
body  aside{
      width: 100%;
      padding-left: 1em;
      padding-right:  1em;
}

.comments h3,
.widget h3,
.content-head{
      padding: 2px 15px;
      color: #fff;
      display: inline-block;
      background-color: @brand-primary;

}
.widget h3{
      padding: 2px 5px;
}
/*.widget h3,*/
/*.entry-title{*/
.entry-title{
      font-family: 'Kaushan Script', serif;
      color: @brand-primary;
      margin-bottom: 0;
      /*line-height: 1;*/
}
header .byline{
      font-size: 80%;
      margin-bottom: 15px;
}
header .updated{
}

.pure-img{
      margin-left: auto;
      margin-right: auto;
      border: 3px solid @brand-secondary;
}
.gallery img.pure-img{
      max-width: 100%;
      min-height: 250px;
}
.gallery .pure-g > div{
      position: relative;
}
.gallery .pure-g > div .caption{
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 0.5em 0.5em;
      color: white;
      width: 100%;
      font-size: 80%;
      font-weight: bold;
      text-align: right;
      background: -moz-linear-gradient(top,  fade(@brand-primary, 80%) 0%, rgba(12,2,2,1) 90%); /* FF3.6+ */
      //background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(16,27,30,0)), color-stop(90%,rgba(12,2,2,1))); /* Chrome,Safari4+ */
      //background: -webkit-linear-gradient(top,  rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%); /* Chrome10+,Safari5.1+ */
      //background: -o-linear-gradient(top,  rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%); /* Opera 11.10+ */
      //background: -ms-linear-gradient(top,  rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%); /* IE10+ */
      background: linear-gradient(to bottom,  rgba(16,27,30,0) 10%,fade(@brand-secondary, 70%) 50%); /* W3C */
      //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00101b1e', endColorstr='#0c0202',GradientType=0 ); /* IE6-9 */

}
.gallery .pure-g > div:hover .caption{
      background-color: fade(@brand-secondary, 80%); ;
}

.post-categories,
.widget ul{
      list-style: none;
} 
.post-categories{
      display: inline-block;
      padding: 0;
      margin:  0;
}
a[rel="tag"]{
      display: inline-block;
      padding: 2px 3px;
      background-color: @brand-primary;
      color: #fff;
}

* {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
}

a {
      text-decoration: none;
      color: @brand-secondary;
}
a:hover,
a:focus {
      text-decoration: underline;
}
.pager{
      padding: 0 15px;
}

body > footer{
      text-align: center;
      padding: 5px 0;
      color: @gray-light;
}

/* LAYOUT CSS */
/*debug*/

// default < 568px 

// sm ≥ 568px 
@media screen and (min-width: 35.5em){

}
// md ≥ 768px 
@media screen and (min-width: 48em){

}
// lg ≥ 1024px
@media screen and (min-width: 64em){
      body  main{
            padding-left: 2em;
            padding-right:  2em;
      }
      body  aside{
            padding:0;
      }
      body.has-sidebar  main{
            width: 75%;
            float: left;
      }

      body.has-sidebar  aside{
            width: 25%;
            float: left;
      }
}
// xl ≥ 1280px
@media screen and  (min-width: 80em){

}


.alert {
      width: 80%;
      display: block;
      margin: 15px auto;
      padding: 5px 10px;
      border-radius: 5px;


}
.alert-warning{
      background-color: fade(@brand-warning, 20%);
      border: 1px solid @brand-warning;
      color: @brand-warning;
}